<%- include ("_partials/_header.ejs"); %>

    <div class="container">
        <div class="personal">
            <h2>Biography</h2>
            <div class="personal-info">
                <h4>Christian Haze Brown</h4>
                <p>
                </p>
            </div>
        </div>
        <div class="projects">
            <h2>Personal projects</h2>
            <div class="project-info">
                <ul>
                    <li><a>Web-protfolio</a></li>
                    <p>-Java-Script, Express, Mongoose, Session, ejs, CSS</p>
                    <a herf="#"><img src="./css/images/github.png"></a>
                    <li><a>Personal Trinning Company Website *Work in Progress*</a></li>
                    <p>-Java-Script, Express, Passport, MongoDB</p>
                    <a herf="#"><img src="./css/images/github.png"></a>
                    <li><a>Contact Database</a></li>
                    <p>-Python, SQLite</p>
                    <a herf="#"><img src="./css/images/github.png"></a>
                    <li><a>Closest Path Visualization</a></li>
                    <p>-Python</p>
                    <!--<a herf="#"><img src="./css/images/github.png"></a>
                    <li><a></a></li>
                    <p></p>
                    <a herf="#"><img src="./css/images/github.png"></a>
                    <li><a></a></li>
                    <p></p>
                    <a herf="#"><img src="./css/images/github.png"></a>
                    -->
                </ul>
            </div>
        </div>
        <div class="Languages">
            <h2>Languages</h2>
            <div class="languages-info">
                <ul>
                    <li><a>Java</a></li>
                    <li><a>JavaScript</a></li>
                    <li><a>HTML</a></li>
                    <li><a>CSS</a></li>
                    <li><a>SQL</a></li>
                    <li><a>Python</a></li>
                    <li><a>C++</a></li>
                    <li><a>Risc V Assembly</a></li>
                </ul>
            </div>
        </div>
        <div class="classes">
            <h2>Classes Taken</h2>
            <div class="class-info">
                <ul>
                    <li><a>Concepts of Databases [CS 4354]</a></li>
                    <li><a>Mathematical Computation [MATH 4330]</a></li>
                    <li><a>Software Enginerring [CS 3365]</a></li>
                    <li><a>Human Cpmupter Interaction [CS 3366]</a></li>
                    <li><a>Computer Architecture [CS 3375]</a></li>
                    <li><a>Theory of Automata [CS 3383]</a></li>
                    <li><a>Design/Analysis of Algorithms [CS 3364]</a></li>
                    <li><a>Concepts of Program Languages [CS 3361]</a></li>
                    <li><a>Assembly Language Progamming [CS 3350]</a></li>
                    <li><a>Obejct-Oriented Programming [CS 2365]</a></li>
                    <li><a>Data Structures [CS 2413]</a></li>
                    <li><a></a></li>
                    <li><a></a></li>
                </ul>
            </div>
        </div>
        
    </div>

<%- include ("_partials/_footer.ejs"); %>