<%- include ("_partials/_header.ejs"); %>
    
        <div class="landing-container">
            <div class="landing">
                    <h4>Hello, World...</h4>
                    <center><a>I'm Christian Brown.</a></center>
                    <center><p> Senior At Texas Tech | Major in Computer Science </p></center>
            </div>
        </div>
    
<%- include ("_partials/_footer.ejs"); %>