        <footer class="footer">
            <div class="container">
                    <div class="footer-col">
                        <ul>
                            <li><a href="https://www.instagram.com/haze_christian/" target="_blank"><img src="../css/images/instagram.png"></a></li>
                            <li><a href="https://github.com/christianhazebrown?tab=repositories" target="_blank"><img src="../css/images/github.png"></a></li>
                            <li><a href="https://www.linkedin.com/in/christian-brown-5a40b478/" target="_blank"><img src="../css/images/linkedin.png"></a></li>
                            
                        </ul>

                    </div>
            </div>
        </footer>
    </body>
</html>
    